<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <%- include("partials/bootstrap") %>
</head>
<body class="text-center">
    <%- include("partials/nav") %>
    <h1>Thank You</h1>
    <h3>Hello <%= name %>, thank you for signing up for our mailing list.</h3>
    <h3>We will send your mail to <%= address %> and email you at <%= email %>.</h3>
</body>
</html>