<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQL Demo</title>

    <%- include('../partials/bootstrap') %>
</head>
<body>
    <%-include('../partials/navigation')%>
    <div class="container" style="min-width: 90%; margin: 1em auto 1em auto;">
        <h1>Customers</h1>
        <table class="table">
            <tr>
                <th>Customer ID</th>
                <th>Company Name</th>
                <th>City</th>
            </tr>
            <% customers.forEach(customer => {%>
                <tr>
                    <td><%-customer.CustomerID %></td>
                    <td><%-customer.CompanyName %></td>
                    <td><%- customer.City %></td>
                </tr>
            <%});%>
        </table>
    </div>
</body>
</html>